<div class="container my-3">
  <h2 class="h2">DebounceTime</h2>
  <p>Discard emitted values that take less than the specified time between output.</p>
  <br />
  <div class="row">
    <div class="col-md-6 mt-2">
      <strong>Example 1: Debouncing based on time between input (1000)</strong>
      <hr />
        <input id="input" class="form-control form-control-sm" type="text" placeholder="Enter input" aria-label=".form-control-sm example">
      <hr />
      <ul id="example1"></ul>
    </div>
  </div>
</div>
