<div class="container my-3">
  <h2 class="h2">Take</h2>
  <p>Emit provided number of values before completing.</p>
  <br />
  <div class="row">
    <div class="col-md-6 mt-2">
      <strong>Example 1: Take 5 value from source</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>of(1, 2, 3, 4, 5, 6,7,8,9,10)
      </p>
      <hr />
      <ul id="example1"></ul>
    </div>

    <div class="col-md-6 mt-2">
      <strong>Example 2: Taking first click location</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>fromEvent(document, 'click')
      </p>
      <hr />
      <div id="locationDisplay">
        Where would you click first?
      </div>
    </div>
  </div>
</div>
