<div class="container my-3">
  <h2 class="h2">Async/Await</h2>
  <p>- async keyword with functin always return promise</p>
  <br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 : With promise</strong>
      <hr>
      <button class="btn btn-primary btn-sm" (click)="fetch1()">Buy laptop</button>
      <hr>
      <div id="result1">Data</div>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02 : With Async/Await</strong>
      <hr>
      <button class="btn btn-primary btn-sm" (click)="fetch2()">Buy laptop</button>
      <hr>
      <div id="result2">Data</div>
    </div>

    <div class="col-md-4">
      <strong>Ex - 03 : With fetch API</strong>
      <hr>
      <button class="btn btn-primary btn-sm" (click)="fetch3()">Buy laptop</button>
      <hr>
      <div id="result3">Data</div>
    </div>
  </div>
</div>
