<div class="container my-3">
  <h2 class="h2">Merge</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech channel(5)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tech video list : </strong> 1,2,3,4,5
      </p>
    </div>

    <div class="col-md-4">
      <strong>Source - 02 | Comedy channel(3)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Comedy video list : </strong> 1,2,3
      </p>
    </div>

    <div class="col-md-4">
      <strong>Source - 03 | News channel(4)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News video list : </strong> 1,2,3,4
      </p>
    </div>
    <br />
  </div>

  <br />
  <br />

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Your channel (subsciber)</div>
        <div class="card-body">
          <ul id="mergeList"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
