<div class="container my-3">
  <h2 class="h2">DistinctUntilChanged</h2>
  <p>Only emit when the current value is different than the last..</p>
  <br />
  <div class="row">
    <div class="col-md-6 mt-2">
      <strong>Example 1: distinctUntilChanged with basic values</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>of(1, 1, 2, 2, 2, 3, 3, 4)
      </p>
      <hr />
      <ul id="example1"></ul>
    </div>

    <div class="col-md-6 mt-2">
      <strong>Example 2: distinctUntilChanged with objects</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>
      </p>
      <hr />
      <ul id="example2"></ul>
    </div>
  </div>
</div>
