<div class="container my-3">
  <h2 class="h2">Interval & Timer</h2>
  <p>- Interval are like javascript intervals which can emit events after specified msec. <br>
     - Timer is just like interval but it has two parameters delay and intervel time.
     Delay time is used to start emitting events after completion of delay time.
  </p>
  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User 1</div>
        <div class="card-body">
          <ul id="userList1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User 2</div>
        <div class="card-body">
          <ul id="userList2"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">User 3</div>
        <div class="card-body">
          <ul id="userList3"></ul>
        </div>
      </div>
    </div>
  </div>

</div>
