<div class="container my-3">
  <h2 class="h2">Observables</h2>
  <p>- Below all are the operator available in rxjs</p>
  <br />
  <div class="row">
    <div class="col card m-2 shadow-lg p-3 mb-2 bg-body rounded " routerLink="from-event">
      <div class="card-body">FromEvent</div>
    </div>
    <div class="col card m-2 shadow-lg p-3 mb-2 bg-body rounded " routerLink="interval-and-timer">
      <div class="card-body">Interval & Timer</div>
    </div>
    <div class="col card m-2 shadow-lg p-3 mb-2 bg-body rounded " routerLink="of-from">
      <div class="card-body">Of & From</div>
    </div>
    <div class="col card m-2 shadow-lg p-3 mb-2 bg-body rounded " routerLink="to-array">
      <div class="card-body">ToArray</div>
    </div>
  </div>
</div>
