<div class="container my-3">
  <h2 class="h2">Observables</h2>
  <p>- Below all are the operator available in rxjs</p>
  <br />

  <div class="row">
    <div class="col-md-3">
      <div class="card m-2 shadow-lg p-3 mb-2 bg-body rounded" role="button" routerLink="from-event">
        <div class="card-body">FromEvent</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card m-2 shadow-lg p-3 mb-2 bg-body rounded" role="button" routerLink="interval-and-timer">
        <div class="card-body">Interval & Timer</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card m-2 shadow-lg p-3 mb-2 bg-body rounded" role="button" routerLink="of-from">
        <div class="card-body">Of & From</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card m-2 shadow-lg p-3 mb-2 bg-body rounded" role="button" routerLink="to-array">
        <div class="card-body">ToArray</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card m-2 shadow-lg p-3 mb-2 bg-body rounded" role="button" routerLink="map">
        <div class="card-body">Map</div>
      </div>
    </div>
    
  </div>
</div>
