<div class="container my-3">
  <h2 class="h2">FromEvent</h2>
  <p>- used to create observable stream from events like button click etc. </p>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add video</div>
        <div class="card-body">
          <div class="btn btn-primary" #addVideoBtn>Add</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="videoList1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="videoList2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
