<div class="container my-3">
  <h2 class="h2">Pluck</h2>
  <p>Used to get property value of object from array of objects</p>
  <br />
  <div class="row">
    <div class="col-md-6">
      <strong>EX - 01 (Normal Object)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>
      </p>
      <hr />
      <ul id="pluckListContainerNormalObejct"></ul>
    </div>

    <div class="col-md-6">
      <strong>EX - 02 (Nested Object)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>
      </p>
      <hr />
      <ul id="pluckListContainerNestedObject"></ul>
    </div>
    <br />
  </div>
</div>
