/* You can add global styles to this file, and also import other style files */
@import "styles/colors";
@import "styles/animations";
@import "styles/theme";

body {
  background-color: var(--background);
  color:var(--color)
}

.card {
  background-color: var(--background) !important;
  color:var(--color) !important;
}
