<div class="container my-3">
  <h2 class="h2">ToArray</h2>
  <p>
    Collects all source emissions and emits them as an array when the source
    completes.
  </p>
  <br />

  <div class="row">
    <div class="col-md-6">
      <strong>EX - 01 (Interval)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>interval(1000);
      </p>
      <hr />
      <ul id="fromArrayListContainerInterval"></ul>
    </div>

    <div class="col-md-6">
      <strong>EX - 02 (From)</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>from(['Ganesh', 'Amit', 'Nikhil']);
      </p>
      <hr />
      <ul id="fromArrayListContainerArray"></ul>
    </div>
    <br />
  </div>
</div>
